.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/images/login.jpg);
    background-position: center;
    background-attachment: fixed;
}
h3 {
    text-align: center;
    color:cornsilk;
}
input {
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #888;
    margin-bottom: 15px;
    height: 25px;
    font-size: 16px;
}
button {
    width: 320px;
    display: block;
    line-height: 25px;
    border-radius: 5px;
}
button:hover {
    background: cornflowerblue;
    color: #fff;
}